@using Finnq.Promotion.Infrastructure.Admin
@model Finnq.Promotion.Models.AdminModels.AdminUserEditModel
@{
    ViewBag.Title = "Settings > 계정관리 > 수정";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        
        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", @class = "form-horizontal" })) {
            <div class="">
                <div class="panel-heading">
                    <h4></h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                             <div class="table-responsive">
                            <table class="table table-bordered" id="" style="width:100%">    
                                <tr>
                                    <th class="text-center" style="vertical-align:middle; width:80px">아이디</th><td>@Html.DisplayFor(m => m.UserName,new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <th class="text-center" style="vertical-align:middle">비밀번호</th>
                                    <td>
                                         <span style="width:100%">
                                             @Html.PasswordFor(m => m.Password, new {  @class = "form-control", autocomplete="off", disabled = "disabled", style="float:left" }) 
                                              <span style="float:left;padding-left:5px;padding-top:6px" title="비밀번호를 변경하고싶으시면 체크하세요.">@Html.CheckBoxFor(m=>m.WillChangePassword,new{style="cursor:pointer;"})&nbsp;변경</span> 
                                         </span>       
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center" style="vertical-align:middle">역할</th>
                                    <td>
                                        <div class="col-sm-8">
                                            @foreach (var role in Model.Roles)
                                            {
                                                var check = false;
                                                var result = role.Users.Where(u => u.UserId == Model.AdminId).SingleOrDefault();
                                                if (result != null&&result.RoleId ==role.Id)
                                                {
                                                    check = true;
                                                }
                                                <label>
                                                    <input type="checkbox" value="@role.Name" name="selectRoles" checked="@check" />
                                                    @role.Name
                                                </label>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </table>
                                @Html.HiddenFor(m => m.AdminId)
                                 @Html.ValidationSummary()
                        </div>
                        <div class="text-right">                        
                            <button class="btn btn-primary" type="submit">저장하기</button>
                            <a href='@Url.Action("Index")' class="btn btn-primary">취소</a>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        }
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section scripts{
    <script type="text/javascript">
        $('#WillChangePassword').click(function () {
            var chk = $(this).is(":checked");
            if (chk) $("#Password").attr('disabled', false);
            else $("#Password").attr('disabled', 'disabled');
        });
    </script>
}